<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}

<html lang="en">
    <body>

    {% for graph in graphs %}
        <div>

        <h1>Semantic Graphs</h1>
        <ul>
            <li>
                <h3>Graph Id: </h3>
                <p>{{ graph_id }}</p>
            </li>
            <li>
                <h3>Graph Type: </h3>
                <p>{{ graph_type }}</p>
            </li>
            <img src={% static graph %} />
        </ul>
        </div>
    {% endfor %}
    </body>
</html>