<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'catalogue/test.css'%}">

<html lang="en">
    <body>
    {% for graph in graphs %}
        <div>

        <h1>Semantic Graphs</h1>
        <ul>
            <li>
                <h3>Graph Id: </h3>
                <p>{{ graph_id }}</p>
            </li>
            <img src={{ graph }} />
        </ul>
        </div>
    {% endfor %}
    </body>
</html>